<p id="notice"><%= notice %></p>

<h1><%= @team.side_name %></br></h1>
<h3>Users & Champions</h3>
<ul>
  <li> We'll add all the champs on the team here </li>
</ul>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
